@font-face {
  font-family: "Articulate";
  src: url("font/ArticulatCF-DemiBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Articulate";
  src: url("font/ArticulatCF-Normal.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Articulate";
  src: url("font/ArticulatCF-NormalOblique.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
}
a:hover {
  transform: translateY(-2px);
  transition: 0.4s ease-in-out;
}
body {
  padding: 1rem 2rem;
  overflow: auto;

  font-family: "Articulate";
  background-color: #e8e8e8;
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.name {
  font-size: 10rem;
  border-bottom: 1px solid black;
  width: 65%;
}
.about .contact .list {
  border-bottom: 1px solid black;
  display: flex;

  justify-content: space-between;
}
.about .contact .list .socials {
  background-color: black;
  color: white;
  font-size: 18px;
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.location .icon {
  width: 28px;
  transform: rotate(180deg);
}

#overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #252525;
}
@keyframes wipeout {
  0% {
    opacity: 1;
    transform: translateY(1);
  }
  99% {
    transform: translateY(-70rem);
  }
  100% {
    transform: scaleY(0);
  }
}
.f-auto {
  width: 100%;
}
.wipeout-animation {
  animation: wipeout 1s ease-out forwards;
  transform-origin: bottom;
}
.about .text {
  border-right: 1px solid black;
  font-size: 1rem !important;
}
.location {
  border-bottom: 1px solid black;
}
.education {
  width: 80%;
}
.empty-width {
  width: 16.666667%;
}
.italic {
  font-style: italic;
}
.all-education {
  border-left: 1px solid black;
  padding-left: 1rem;
}
.work {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}
.border-left {
  border-left: 1px solid black;
  padding-left: 1rem;
}
.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
.h-90 {
  height: 90%;
}
@media (max-width: 800px) {
  /* Adjustments for smaller screens */
  .name {
    font-size: 3rem !important;
    width: 100% !important;
    text-align: center !important;
  }
  .bib-talk {
    align-self: flex-start !important;
  }
  .about {
    flex-direction: column !important;
    width: 100% !important;
  }
  .about .text {
    border-right: none !important;
    text-align: center;
    margin-bottom: 1rem !important;
    width: 100% !important;
    font-size: 1rem !important;
  }
  .about .contact {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .location {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .location .icon {
    width: 20px !important;
  }
  .education {
    width: 100% !important;
  }
  .education .all-education {
    border-left: none !important;
    padding-left: 0 !important;
  }
  .empty-width {
    width: 0% !important;
  }
  .talk-text {
    font-size: 3rem !important;
  }
  .edu .date {
    text-align: right !important;
  }
  .work {
    width: 100% !important;
  }
  .car-title {
    font-size: 2rem !important;
  }
  .work .logo {
    width: 100% !important;
  }
  .work .desc {
    width: 100% !important;
  }
  .work-title {
    font-size: 3rem !important;
  }
  .work {
    flex-direction: column !important;
  }
  .work-logo {
    object-fit: contain !important;
    height: 9rem !important;
  }
  .big-img-work {
    object-fit: scale-down !important;
  }
  .big-img-work-container {
    width: 100% !important;
  }
  .talk-text {
    font-size: 3rem !important;
    flex-direction: column;
  }
  #animated-svg {
    display: flex !important;
    height: 85% !important;
    width: 100% !important;
    object-fit: initial !important;
  }
  .work {
    gap: 1rem;
  }
  .col {
    font-size: 1rem !important;
  }
  .w-24 {
    width: 2rem !important;
  }
  .socials-bottom {
    display: flex !important;
    width: 100% !important;
    gap: 0.7rem !important;
  }
  .socials {
    padding-top: 2px;
    font-size: 14px !important;
  }
  .social-link {
    gap: 0px !important;
  }
  .big-height-empty {
    height: 20px !important;
  }
  .lutetia.border-bottom {
    border-bottom: none !important;
  }
}
@media (max-width: 1700px) {
  .name {
    font-size: 9rem;
  }
  .contact {
    width: 45% !important;
  }
}

@media (max-width: 1704px) {
  .name {
    font-size: 8rem;
  }
}
@media (max-width: 1500px) {
  .name {
    font-size: 6rem;
  }
}
@media (max-width: 1500px) {
  .work {
    width: 100%;
  }
  .f-14 {
    font-size: 14px;
  }
}
/* Add more media queries for other screen sizes if needed */
